.baseboard {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #8B929E;
  color: #F6F6F6;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
}

/* center copyright */
.baseboard .copyright {
  text-align: center;
}

.contact {
  font-family: "Montserrat Alternates SemiBold";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact .ababoy {
  
}

.contact .h2 {
  justify-content: center;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 10%;
}

.social-media a {
  margin: 0 10px;
}

.copyright {
  font-family: "Montserrat Alternates Italic";
}